/** reset */
blockquote,
body,
cite,
dfn,
h1,
h2,
h3,
hr,
html,
img,
li,
ol,
p,
pre,
q,
ul {
    border:                 0;
    margin:                 0;
    padding:                0;
}

header,
footer,
nav,
aside,
main {
    display:                block;
}

em,
cite,
blockquote,
q {
    font-style:             italic;
}
strong {
    font-weight:            bold;
}
em q,
blockquote em,
blockquote q {
    font-style:             normal;
}
/* /reset **/

/** grid */
header div,
#main .inner,
footer {
    margin:                 0 auto;
    padding:                20px;
    width:                  940px;
}

#main,
header {
    min-width:              980px;
}
footer {
    padding:                10px 20px 20px;
}

header div:after,
#main .inner:after {
    content:                '';
    display:                block;
    clear:                  both;
}
header div,
#main .inner {
    *zoom:                  1;
}

nav {
    float:                  left;
    width:                  220px;
    margin-right:           20px;
}

aside {
    float:                  right;
    width:                  220px;
}

main {
    float:                  left;
    width:                  700px;
}
.has-asides main {
    width:                  460px;
}
/* /grid **/

/** general */
body {
    background:             #ddd;
    color:                  #000;
    font:                   14px/24px
                            "Lucida Grande", "Lucida Sans", Helvetica, Arial;
}

#main {
    background:             #fff;
    color:                  #000;
}

a {
    color:                  #4b8f11;
}
a:hover,
a:focus,
a:active {
    color:                  #000;
}

h1 {
    border-bottom:          1px solid #9dcf5c;
    color:                  #0f511e;
    font-size:              18px;
    padding-bottom:         5px;
    margin-bottom:          5px;
}
h2 {
    font-size:              16px;
    margin-bottom:          8px;
}
h3 {
    font-size:              inherit;
    margin-bottom:          8px;
}
p {
    margin:                 0 0 24px;
}
strong.alert {
    color:                  #cc2d30;
    font-size:              18px;
}
address {
    font-style:             normal;
    white-space:            pre;
}
footer {
    font-size:              13px;
}
footer img {
    vertical-align:         bottom;
}

.cta,
.cta-disabled {
    border-radius:          5px;
    background:             #f2d13d;
    display:                block;
    margin:                 24px auto;
    padding:                10px;
    text-align:             center;
    width:                  200px;
}
a.cta {
    color:                  #000;
    text-decoration:        none;
}
a.cta:hover,
a.cta:focus,
a.cta:active {
    text-decoration:        underline;
}
.cta-disabled {
    background:             #ddd;
    color:                  #999;
}
table {
    border-collapse:        collapse;
}
td,
th {
    vertical-align:         top;
    text-align:             left;
}
.price-list {
    margin:                 -5px 0 24px;
}
.price-list th,
.price-list td {
    border-bottom:          1px solid #ccc;
    padding:                24px 0 20px;
}
.price-list th {
    font-weight:            normal;
    padding-right:          20px;
}
.price-list th strong {
    display:                block;
}
.price-list tr p:last-child {
    margin-bottom:          0;
}
.terms {
    margin-top:             -12px;
    text-align:             center;
}
.terms a {
    font-size:              12px;
}
/* /general **/

/** header */
header {
    background:             #4b8f11;
    background:             -moz-linear-gradient(
                                top, #75b624 0%, #4b8f11 100%
                            ); /* FF3.6+ */
    background:             -webkit-gradient(
                                linear,
                                left top,
                                left bottom,
                                color-stop(0%,#75b624),
                                color-stop(100%,#4b8f11)
                            ); /* Chrome,Safari4+ */
    background:             -webkit-linear-gradient(
                                top,
                                #75b624 0%,
                                #4b8f11 100%
                            ); /* Chrome10+,Safari5.1+ */
    background:             -o-linear-gradient(
                                top,
                                #75b624 0%,
                                #4b8f11 100%
                            ); /* Opera 11.10+ */
    background:             -ms-linear-gradient(
                                top,
                                #75b624 0%,
                                #4b8f11 100%
                            ); /* IE10+ */
    background:             linear-gradient(
                                to bottom,
                                #75b624 0%,
                                #4b8f11 100%
                            ); /* W3C */
    filter:                 progid:DXImageTransform.Microsoft.gradient(
                                startColorstr='#75b624',
                                endColorstr='#4b8f11',
                                GradientType=0
                            ); /* IE6-9 */
    color:                  #fff;
}
header div {
    padding:                30px 20px 10px 180px;
    position:               relative;
    width:                  780px;
}
header a {
    color:                  #fff;
}
header h1 a {
    text-decoration:        none;
}
header h1 a:hover,
header h1 a:focus,
header h1 a:active {
    text-decoration:        underline;
}

header h1,
header h2 {
    border:                 0;
    font-weight:            normal;
    margin:                 0;
    padding:                0;
}
header h1 {
    font-size:              55px;
    line-height:            1;
    margin-bottom:          11px;
}
header h1 img {
    left:                   20px;
    position:               absolute;
    top:                    0;
}
header h2 {
    font-size:              inherit;
    line-height:            inherit;
}

header ul {
    float:                  right;
    list-style:             none;
}
/* /header **/

/** nav */
nav ul {
    font-weight:            bold;
    font-size:              16px;
    list-style:             none;
    margin-bottom:          10px;
}
nav ul a {
    color:                  inherit;
    display:                block;
    text-decoration:        none;
}
nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    text-decoration:        underline;
}

nav ul ul {
    margin-left:            10px;
}

nav.js ul ul {
    background:             #fff;
    border:                 1px solid #9c9c9c;
    margin-left:            0;
    position:               absolute;
    display:                none;
}
nav.js ul ul {
    display:                block;
    left:                   -999em;
}

nav li.focus ul,
nav li:hover ul {
    left:                   100%;
    top:                    -1px;
    display:                block;
}

nav li {
    border:                 1px solid transparent;
    margin-bottom:          -1px;
    position:               relative;
}
nav li li {
    padding:                0 5px;
}
nav.js li.focus,
nav.js li:hover {
    background:             #a0d162;
    border:                 1px solid #9c9c9c;
}
nav.js li li.focus,
nav.js li li:hover {
    border-left-color:      transparent;
    border-right-color:     transparent;
}
nav li li:first-child,
nav.js li li:first-child {
    border-top-width:       0;
}
nav li li:last-child,
nav.js li li:last-child {
    border-bottom-width:    0;
    margin-bottom:          0;
}
nav.js button {
    background:             none;
    border:                 none;
    font:                   inherit;
    margin:                 0;
    padding:                0;
    text-align:             left;
}
nav.js button::-moz-focus-inner {
    border: none;
    padding: 0;
}
/* /nav **/
