.dayheading { background-color: #ee7; text-align: center; font: 12px Verdana bold; color: #333; }
.time { width: 50px; background-color: #ee7; font: 11px Verdana; color: #333; }
.session {background-color: #3dd; font: 11px Verdana;  color: #333; }
.other {background-color: #6dd; font: 11px Verdana;  color: #333; }
