TD, P, H1, H2, H3, H4, LI
{
   font-family: "Lucida Sans", Arial, sans-serif;
   
}

H1, H2, H3, H4
{
    font-style: italic;
}
   
TABLE.bg, TD.bg
{
   background-color: #b33800;
}

.LMargin
{
    background-color: #b33800;
}

.LMText
{
    color: #ffffff;
}

.c
{ background-color: #c0c0c0
}

.price
{ text-align: right;
}

.bg
{
   color: #b33800;
}

H1, H2, H3, H4
{
   color: #006060;
}

.white
{
    color: #ffffff;
}

.lmbutton
{
    font-family: Arial, sans-serif;
    text-align: left;
    color: white;
    font-size: smaller;
}

.dt
{
    font-family: "Lucida Sans", Arial, sans-serif;
    text-align: right;
    color: #006060;
    font-style: italic;
    font-weight: bold;
}
